{% include './base.html' %}

{% block title %}
    <title>Django Cameroon Workshop - QR Code Generator</title>
{% endblock title %}

{% block body_content %}
<div class="container">
    <br><h1>Welcome, Django Cameroon members !</h1><br>
    <div class="row row-cols-1 row-cols-md-5 g-4">
    {% for info in informations %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ info.qr_code.url }}" class="card-img-top" alt="QRCode">
                <div class="card-body">
                    <h5 class="card-title">{{ info.uuid }}</h5>
                    <p class="card-text">{{ info.text_data }}</p>
                </div>
            </div>
        </div>

    {% endfor %}
    </div>
</div>
{% endblock body_content %}
